apiVersion: v1
kind: Config
preferences: {}

clusters:
- cluster:
    certificate-authority-data: *********************
    server: https://****************.*****.linodelke.net:443
  name: lke73150

users:
- name: *****
  user:
    as-user-extra: {}
    token: ******************
contexts:
- context:
    cluster: lke73150
    namespace: default
    user: *****
  name: lke73150-ctx

current-context: lke73150-ctx
